.Navbar {
  background-color: rgba(222, 227, 252, 1);
  margin-top: 20px;
  height: 40px;
  margin: 10px 200px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavImg {
  padding: 10px;
  height: 20px;
  width: 100px;
}

.Navitems {
  display: flex;
  flex-flow: row;
}
